li.marker {
  list-style-type: none;
  padding-top: 6px;
  border-top: 1px solid grey;
  margin-top: 6px;
}
ul.markers {
  padding: 0;
}

li.example {
  list-style-type: none;
  padding-top: 6px;
  border-top: 1px solid grey;
  margin-top: 6px;
}
ul.examples {
  padding: 0;
}

body {
	padding-left: 5px;
	padding-right: 5px;
}

div.var {
	display: inline-block;
	padding-right: 6px;
}

button.disabled, input.disabled{
	opacity: 0.3;
}

mus-code-matches {
	display: block;
}
div.match-example {
	display: inline-block;
}

mus-projection {
	display: inline-block;
  padding-bottom: 6px;
  border-bottom: 1px solid grey;
  margin-bottom: 6px;
}

div.projection button {
	vertical-align: top;
}

span.code-error {
	color: red;
}

div.top-panel {
	position: fixed;
	bottom: 60%;
	right: 0;
	left: 0;
	top: 0;
	overflow: scroll;
	border-bottom: 2px black solid;
}
div.bottom-panel {
	position: fixed;
	top: 40%;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: scroll;
}
p.tab-intro {
	margin-top: 6px;
}