li.marker {
  list-style-type: none;
}
ul.markers {
  padding: 0;
}

li.example {
  list-style-type: none;
}
ul.examples {
  padding: 0;
}

body {
	padding-left: 5px;
	padding-right: 5px;
}

div.var {
	display: inline-block;
	padding-right: 6px;
}

button.disabled, input.disabled{
	opacity: 0.3;
}

/* note visualisation */
svg.note-roll {
	background: #f0f0f0;
}
.note-included {
	fill: #0f0;
}

.note-discarded {
	fill: #444;
	opacity: 0.3;
}

.time-cursor {
	stroke: #888;
	stroke-width: 1;
}

.code {
	fill: #000;
}

.group {
	stroke: #f00;
	stroke-width: 1;
	fill-opacity: 0;
}