  <h1><a href="#/">Musiccode Editor</a></h1>
  <p>{{status}}</p>
  <p><label>Filename:</label><input type="text" ng-model="filename" ng-change="checkFilename()"> 
    <span>{{filenameStatus}}</span>
  </p>
  <p>Version: {{version | date:'short'}}</p>
  <button ng-click="openMaster()">Open Master view</button>
  <span ng-repeat="channel in channels">
    <button ng-click="openSlave($index)">Open Slave, {{ channel=='' ? 'default channel' : 'channel '+channel}}</button><button ng-click="openSlaveQR($index)">QR</button>
  </span>
  <p>Server {{serverProtocol}}//{{serverHost}}:{{serverPort}}</p>
  <hr>
  <h2>Edit</h2>
  <p><label>Show State:</label> <input type="checkbox" ng-model="showState"></p>
<form name="experienceForm" ng-submit=""> 
  <!-- dirty isn't working for adding/removing form sections -->
  <input type="submit" value="save" ng-disabled="!experienceForm.$dirty && !formChanged" ng-click="save()" ng-class="{'disabled': !experienceForm.$dirty && !formChanged}">
 {{ experienceForm.$dirty || formChanged ? 'Has unsaved changes' : 'No changes' }}

  <h3>General</h3>
  <table><tbody>
  <tr><td><label>Name</label></td>
      <td><input type="text" ng-model="name"></td></tr>
  <tr><td><label>Description</label></td>
      <td><input type="text" ng-model="description"></td></tr>
  <tr><td><label>Author</label></td>
      <td><input type="text" ng-model="author"></td></tr>
  <tr><td><label>Midi Input</label></td>
      <td><!-- <input type="text" ng-model="parameters.midiInput" placeholder="(none)"> -->
          <midi-input-selector ng-model="parameters.midiInput"></midi-input-selector></td></tr>
  <tr><td><label>Midi Output</label></td>
      <td><midi-output-selector ng-model="parameters.midiOutput"></midi-output-selector></td></tr>
  <tr><td><label>Record Audio</label></td>
      <td><input type="checkbox" ng-model="recordAudio"></td></tr>
  </tbody></table>
  <h3>Parameters</h3>
  <table><tbody>
  <tr><td><label>Minimum Frequency</label></td>
      <td><input type="number" step="1" ng-model="parameters.minFrequency">
          <span>{{ parameters.minFrequency | freq2note }}</span></td></tr>
  <tr><td><label>Maxmimum Frequency</label></td>
      <td><input type="number" step="1" ng-model="parameters.maxFrequency">
          <span>{{ parameters.maxFrequency | freq2note }}</span></td></tr>
  <tr><td><label>Minimum Velocity (amplitude)</label></td>
      <td><input type="number" step="1" ng-model="parameters.minVelocity"> (0-127)</td></tr>
  <tr><td><label>Maxmimum Velocity (amplitude)</label></td>
      <td><input type="number" step="1" ng-model="parameters.maxVelocity"> (0-127)</td></tr>
  <tr><td><label>Maximum gap between note onsets (seconds)</label></td>
      <td><input type="number" step="0.01" ng-model="parameters.streamGap"></td></tr>
  <tr><td><label>Maximum note duration (seconds)</label></td>
      <td><input type="number" step="0.01" ng-model="parameters.maxDuration"></td></tr>
  <tr><td><label>Frequency ratio</label></td>
      <td><input type="number" step="0.01" ng-model="parameters.frequencyRatio">
          <span>{{ parameters.frequencyRatio | ratio2interval }}</span></td></tr>
  <tr><td><label>Monophonic</label></td>
      <td><input type="checkbox" ng-model="parameters.monophonic"></td></tr>
  <tr><td><label>If monophonic, minimum gap between note onsets (seconds)</label></td>
      <td><input type="number" step="0.01" ng-model="parameters.monophonicGap"></td></tr>
  <tr><td><label>Instrument (Silvet plugin)</label></td>
    <td>
      <select ng-model="parameters.vampParameters.instrument" ng-options="option.value as option.name for option in instrumentOptions">
      </select>
  </td></tr>
  <tr uib-collapse="!showState"><td><label>Initial State</label></td>
    <td>
      <div class="var" ng-repeat="(var,value) in parameters.initstate"><span>{{var}}</span>=<input type="text" size="6" ng-model="parameters.initstate[var]"><!-- 
       --><button ng-click="deleteInitstate(var)">-</button>
      </div>
      <div class="var">
      	<button ng-click="addInitstate()">+</button><!-- 
      	 --><input type="text"  size="6" ng-model="newInitstateName">=<input type="text"  size="6" ng-model="newInitstateValue">
      </div>
  </td></tr>
  </tbody></table>

	<h3>Default Context</h3>
	
	<mus-context context="defaultContext"></mus-context> 
	
	<h3>Projections</h3>
	
	<div ng-repeat="projection in projections" class="projection">
		<mus-projection projection="projection"></mus-projection> 
		<button ng-click="deleteProjection($index)">-</button>
	</div>
	<div class="projection">
    	<button ng-click="addProjection()">+</button>
		<mus-projection projection="newProjection"></mus-projection> 
	</div>
	
	<h3>Examples</h3>

	<ul class="examples">
		<li ng-repeat="example in examples" ng-controller="ExampleCtrl" class="example">
			<span class="glyphicon" aria-hidden="true" 
			ng-class="{'glyphicon-triangle-right': isCollapsed, 'glyphicon-triangle-bottom': !isCollapsed}"
			ng-click="isCollapsed=(!isCollapsed)"></span> 
			<label>Title:</label> <input type="text" ng-model="example.title">
			<button ng-click="deleteExample($index)">-</button>
			<codeformat data="example.codeformat"></codeformat>
			<mus-projection-choice projection="example.projection" projections="projections"></mus-projection-choice>
			<muzicode notes="example.rawnotes" codeformat="example.codeformat" projection="example.projection" projections="projections" context="example.context"></muzicode>
			<div uib-collapse="isCollapsed">
				<div note-roll notes="example.rawnotes" parameters="parameters"></div>
				<mus-context context="example.context"></mus-context>
			</div>
		</li>
	</ul>
	<li class="example" uib-collapse="addingExample">
		<button ng-click="startAddExample()" >Record</button> {{ !!parameters.midiInput ? 'Midi ('+parameters.midiInput+')' : 'Audio' }} 
		<label>Title:</label> <input type="text" ng-model="newExampleTitle">
	</li>
	<li class="example" uib-collapse="!addingExample" >
		<button ng-click="stopRecordingExample()" ng-disabled="!recordingExample" ng-class="{'disabled': !recordingExample}">Stop</button>
		<softkeyboard on-note="onNote(note)"></softkeyboard>
		<label>Title:</label> <input type="text" ng-model="newExampleTitle">
		<button ng-click="doneAddExample()" >Done</button>
		<button ng-click="cancelAddExample()">Cancel</button>
		<br>
		<div note-roll notes="addingExampleNotes" time="addingTime" groups="addingGroups"></div>
	</li>

  <h3>Codes</h3>

  <ul class="markers">
    <li ng-repeat="marker in markers" ng-controller="MarkerCtrl" class="marker">
      <span class="glyphicon" aria-hidden="true" ng-class="{'glyphicon-triangle-right': isCollapsed, 'glyphicon-triangle-bottom': !isCollapsed}" ng-click="isCollapsed=(!isCollapsed)"></span>
      <select ng-model="marker.codeformat">
        <option value=""></option>
		<option value="n">n</option>
		<option value="no">no</option>
		<option value="no/crle4,">no/crle4,</option>
		<option value="no/crfe4,">no/crfe4,</option>
		<option value="mrle0/crle4,">mrle0/crle4,</option>
      </select>
      <mus-projection-choice projection="marker.projection" projections="projections"></mus-projection-choice>
      <input type="text" ng-model="marker.code">
      <label>Title:</label>
      <input type="text" ng-model="marker.title">
      <button ng-click="deleteMarker($index)">-</button>
      <div uib-collapse="isCollapsed">
      <div uib-collapse="!showState">
		<label>Precondition:</label><input type="text" ng-model="marker.precondition">
		<label>Post state:</label>
	      <div class="var" ng-repeat="var in variables">
	        <span>{{var}}</span>=<input type="text"  size="6" ng-model="marker.poststate[var]" placeholder="{{var }}">
      	</div>
      </div>
      <label>Description:</label>
      <input type="text" ng-model="marker.description">
      <label>Actions:</label>
      <ul>
        <li ng-repeat="action in marker.actions">
          <label>Channel:</label>
          <input type="text" size="10" ng-model="action.channel">
          <label>URL:</label>
          <input type="text" ng-model="action.url"> <urlchecker ng-model="action.url"></urlchecker>
          <button ng-click="deleteAction($index)">-</button>
        </li>
        <li >
          <button ng-click="addAction()">+</button>
          <label>Channel:</label>
          <input type="text" size="10" ng-model="marker.newActionChannel">
          <label>URL:</label>
          <input type="text" ng-model="marker.newActionUrl"> <urlchecker ng-model="marker.newActionUrl"></urlchecker>
        </li>
      </ul>
      </div>
    </li>
    <li class="marker">
      <button ng-click="addMarker()">+</button>
      <select ng-model="newMarkerCodeformat">
        <option value=""></option>
		<option value="n">n</option>
		<option value="no">no</option>
		<option value="no/crle4,">no/crle4,</option>
		<option value="no/crfe4,">no/crfe4,</option>
		<option value="mrle0/crle4,">mrle0/crle4,</option>
      </select>
      <mus-projection-choice projection="newMarkerProjection" projections="projections"></mus-projection-choice>
      <input type="text" ng-model="newMarkerCode">
      <label>Title:</label>
      <input type="text" ng-model="newMarkerTitle">
   </li>
</ul>
</form>
