        <li>
          <label>Channel:</label>
          <input type="text" size="10" ng-model="action.channel">
          <label>URL:</label>
          <input type="text" ng-model="action.url" list="action-prefixes" size="60">
            <label ng-if="action.url.indexOf('http')==0 || action.url.indexOf('{{')==0 || action.post">Post:<input type="checkbox" ng-model="action.post"></label>
            <input ng-if="action.post" type="text" ng-model="action.body">
            <label ng-if="action.post">Content type:</label><input  ng-if="action.post"type="text" ng-model="action.contentType" list="action-content-types">
            <label ng-if="action.url.indexOf('delay:')==0">Delay<input ng-model="action.delay" type="text"></label>
            <label ng-if="action.url.indexOf('delay:')==0">Params
					<div class="var" ng-repeat="(var,value) in action.params">
						<span>{{var}}</span>=<input type="text" size="6"
							ng-model="action.params[var]">
						<button ng-click="deleteParam(var)" aria-label="Delete parameter"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					</div>
					<div class="var">
						<button ng-click="addParam()" aria-label="Add new parameter"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
						<input type="text" size="6" ng-model="action.newParamName">=<input
							type="text" size="6" ng-model="action.newParamValue">
					</div>
				</td>
            </label>      
            <urlchecker ng-model="action.url" parameters="parameters"></urlchecker>
          <button ng-click="delete()" aria-label="Remove action"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        </li>
        