<!doctype html>
<html lang="en" ng-app="editorApp">
<head>
  <meta charset="utf-8">
  <title>Editor</title>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-route/angular-route.js"></script>
  <script src="vendor/angular-resource/angular-resource.js"></script>  <script src="js/editor.js"></script>
</head>
<body ng-controller="EditorCtrl">
  <h1>Musiccode Editor</h1>
  <p><label>Filename:</label><input type="text" ng-model="filename"></p>
  <h2>Parameters</h2>
  <table><tbody>
  <tr><td><label>Stream gap (seconds)</label></td>
      <td><input type="number" ng-model="parameters.streamGap"></td></tr>
  <tr><td><label>Frequency ratio</label></td>
      <td><input type="number" ng-model="parameters.frequencyRatio"></td></tr>
  <tr><td><label>Monophonic</label></td>
      <td><input type="checkbox" ng-model="parameters.monophonic"></td></tr>
  <tr><td><label>Monophonic gap (seconds)</label></td>
      <td><input type="number" ng-model="parameters.monophonicGap"></td></tr>
  </tbody></table>

  <h2>Codes</h2>

  <ul>
    <li ng-repeat="marker in markers">
      <span>{{marker.title}}</span>
      <p>{{marker.code}}</p>
      <ul>
        <li ng-repeat="action in marker.actions">
          <span>{{action.url}}</span>
          <span>({{action.channel}})</span>
        </li>
      </ul>
    </li>
  </ul>

</body>
</html>
