<!doctype html>
<html lang="en" ng-app="editorApp">
<head>
  <meta charset="utf-8">
  <title>Editor</title>
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-route/angular-route.js"></script>
  <script src="vendor/angular-resource/angular-resource.js"></script>  <script src="js/editor.js"></script>
</head>
<body ng-controller="EditorCtrl">
  <h1>Musiccode Editor</h1>
  <p><label>Filename:</label><input type="text" ng-model="filename"></p>
  <h2>Parameters</h2>
  <table><tbody>
  <tr><td><label>Stream gap (seconds)</label></td>
      <td><input type="number" ng-model="parameters.streamGap"></td></tr>
  <tr><td><label>Frequency ratio</label></td>
      <td><input type="number" ng-model="parameters.frequencyRatio"></td></tr>
  <tr><td><label>Monophonic</label></td>
      <td><input type="checkbox" ng-model="parameters.monophonic"></td></tr>
  <tr><td><label>Monophonic gap (seconds)</label></td>
      <td><input type="number" ng-model="parameters.monophonicGap"></td></tr>
  </tbody></table>

  <h2>Codes</h2>

  <ul>
    <li ng-repeat="marker in markers" ng-controller="MarkerCtrl">
      <button ng-click="deleteMarker($index)">-</button>
      <select ng-model="marker.codeformat">
        <option value=""></option>
		<option value="n">n</option>
		<option value="no">no</option>
		<option value="no/crle4,">no/crle4</option>
		<option value="no/crfe4,">no/crle4</option>
      </select>
      <input type="text" ng-model="marker.code">
      <label>Title:</label>
      <input type="text" ng-model="marker.title">
      <ul>
        <li ng-repeat="action in marker.actions">
          <button ng-click="deleteAction($index)">-</button>
          <label>Action URL:</label>
          <input type="text" ng-model="action.url">
          <label>Channel:</label>
          <input type="text" ng-model="action.channel">
        </li>
        <li >
          <button ng-click="addAction()">+</button>
          <label>Action URL:</label>
          <input type="text" ng-model="newActionUrl">
          <label>Channel:</label>
          <input type="text" ng-model="newActionChannel">
        </li>
      </ul>
    </li>
    <li>
      <button ng-click="addMarker()">+</button>
      <select ng-model="newMarkerCodeformat">
        <option value=""></option>
		<option value="n">n</option>
		<option value="no">no</option>
		<option value="no/crle4,">no/crle4</option>
		<option value="no/crfe4,">no/crle4</option>
      </select>
      <input type="text" ng-model="newMarkerCode">
      <label>Title:</label>
      <input type="text" ng-model="newMarkerTitle">
   </li>
</ul>

</body>
</html>
