<!doctype html>
<html lang="en" ng-app="playerApp">
<head>
<meta charset="utf-8">
<title>Muzicodes Player</title>
<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/css/player.css">
<link rel="stylesheet" href="/css/viz.css">
<link rel="stylesheet" href="/css/softkeyboard.css">
<link rel="stylesheet" href="/css/context.css">
<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/angular-route/angular-route.js"></script>
<script src="/vendor/angular-resource/angular-resource.js"></script>
<script src="/vendor/angular-animate/angular-animate.js"></script>
<script src="/vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/logging.js"></script>
<script src="/js/audio.js"></script>
<script src="/js/softkeyboard.js"></script>
<script src="/js/player.js"></script>
<script src="/js/viz.js"></script>
<script src="/js/stream.js"></script>
<script src="/js/codeui.js"></script>
<script src="/js/codeuiparser.js"></script>
<script src="/js/noteprocessor.js"></script>
<!-- <script src="/js/filters.js"></script> -->
<script src="/js/midi.js"></script>
<script src="/js/osc.js"></script>
<script src="/js/context.js"></script>
<script src="/vendor/socket.io-1.2.0.js"></script>
</head>
<body ng-controller='PlayerCtrl' ng-keydown="keydown($event)" ng-keyup="keyup($event)">

	<div id='header' class="row">
		<div class="col-md-4" uib-collapse="!recording && !listening">
			<inputmeter width="100" ng-if="!recordingStopped"></inputmeter>
			<span id="recordingstatus" class="recordingstatus">{{recordingStatus}}</span>
			<button id="stoprecording" class="recording" ng-click="stopRecording()" ng-disabled="recordingStopped" ng-class="{disabled: recordingStopped}">Stop</button>
		</div>
		<div class="col-md-4">
			<mus-context context="context"></mus-context>
		</div>
		<div class="col-md-8">
			<button class="recording" id="reload" ng-click="reload()">Reload</button>
			<softkeyboard on-note="onNote(note)"></softkeyboard>
			<span>{{ state=='audioinput' ? 'Running with Audio' : ( state=='midiinput' ? 'Running with Midi' : ( state=='loading' ? 'Loading...' : (state=='loaded' ? 'Initialising...' : (state=='error' ? 'Sorry, something went wrong' : 'Unknown state ('+state+')' )))) }}</span>
			<span>; Experience {{ experienceFile }}; Room "{{ room }}"; Channel "{{ channel }}"</span>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<note-roll id='note-roll' notes="notes" time="time" groups="groups" period="maxTimeWindow-2" height="200" context="context" onselect="selectNotes(notes)"></note-roll>
		</div>
	</div>
	<div class="row">
		<div  class="col-md-4">
			<mus-partcodes markers="markers" last-groups="lastGroups" experience-state="experienceState" code-matchers="codeMatchers"></mus-partcodes>
		</div>
		<div class="col-md-4"  id="state">
			<button ng-repeat="button in buttons" ng-disabled="button.disabled" ng-click="pressButton(button)" ng-class="{disabled: button.disabled}">{{button.title}}</button>
			<p>State (variables):</p>
			<ul><li ng-repeat="(name,value) in experienceState">{{name}}={{value}}</ul>
			<p>Delays: <button ng-click="clearDelays()">Clear All</button><button ng-click="fireDelays()">Do All</button> (now {{ delayTimeLabel }})</p>
			<ul><li ng-repeat="delay in delays">{{delay.url}} {{delay.label}} ({{delay.params}})</ul>
		</div>
		<div class="col-md-4">
			<url-view class=" output" action-url="actionUrl" refresh="actionRefresh"></url-view>
		</div>
	</div>
</body>
</html>
